<body>
<h1 style="padding-top: 10vw;" class="text-success display-4 font-weight-bold">Welcome to To-Do-List</h1>
<p class="text-info">Keep Track of your task</p><br>
<button routerLink="/login" class="btn btn-primary">Login to Continue</button>

<!-- <i style="border:1px solid black" class="fa fa-car"></i>
<i style="border:1px solid black" class="fa fa-google-plus-g"></i>
<i  style="border:1px solid black" class="fa fa-google"></i>
<i  style="border:1px solid black" class="fab fa-carrot"></i>
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-youtube"></i> -->


</body>