<app-navbar></app-navbar>
<h1 class="m-5">About Me</h1>

    <p style="width:50%;float:left;" class="text-secondary ml-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, incidunt. Dolor fuga quo adipisci illum
        accusantium officia quis ipsum voluptatum sint natus repudiandae nulla rem tenetur, assumenda facilis ipsam
        incidunt!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam eveniet debitis odit maxime distinctio alias fuga veritatis! Animi odit nobis quidem, optio consequuntur inventore enim quibusdam impedit delectus totam doloremque.
    </p>

<div style="text-align: center; ">
    <img [src]=imgurl alt="" style="height: 20vw;">
</div>


