<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand font-weight-bold" href="#">To-Do-List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" style="width:100%">
        <li class="nav-item">
          <a class="nav-link" routerLink="/create">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">ABOUT US</a>
        </li>
        
        <li class="nav-item" >
          
          <!-- <a class="nav-link" routerLink="/login" *ngIf="user" (click)="logout()">LOGOUT</a> -->
          <a class="nav-link" (click)="logout()">LOGOUT</a>
        </li>
        
      
      <li class="nav-item" style="margin-left: 60%;">
        <a class="nav-link text-warning font-weight-bold" *ngIf="user" style="text-transform: uppercase;">Welcome - {{user.displayName}}</a>
      </li>
    </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search  By Task Name..." aria-label="Search"> -->
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      <!-- </form> -->
    </div>
  </nav>
